.sidebar {
  font-family: 'Fresca', sans-serif;
}
.name{
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);  
  margin-left: 7px;
}
.jobtitle {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.88);
  margin-left: 10px;
  line-height: 0.5rem;
}
.contactIcon {
  height: 2rem;
  display: inline;
}
